<!-- START /partials/_footer.html -->
<div class="footer-container">
  <footer id="footer" class="footer style-1 light hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <ul class="social-networks">
            <li>
              <a
                href="https://www.linkedin.com/company/m2crowd/"
                target="_blank"
                class="color"
                ><i class="ion-social-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/m2crowd/"
                target="_blank"
                class="color"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://x.com/m2crowd" target="_blank" class="color">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="#ffffff"
                  class="bi bi-twitter-x"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/m2crowd"
                target="_blank"
                class="color"
                ><i class="ion-social-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCjX6dvn377X3YsXM9syLDJQ?view_as=subscriber"
                target="_blank"
                class="color"
                ><i class="ion-social-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 footer-links-container">
          <a href="https://m2crowd.com/faq/" target="_blank"
            >Preguntas frecuentes</a
          >
          <a href="https://m2crowd.com/faq/" target="_blank">Cómo funciona</a>
          <a href="https://m2crowd.com/desempeno-cartera/" target="_blank"
            >Desempeño de cartera</a
          >
          <a
            href="https://m2crowd.zohorecruit.com/recruit/Portal.na?digest=zGjiq4T2OdSYHp4pfUKjgnGAUnkE7bVo.a85bxdBEmQ-"
            target="_blank"
            >Únete a nuestro equipo</a
          >
          <a
            href="https://m2crowd.com/buro-de-entidades-financieras/"
            target="_blank"
            >Buró de entidades financieras</a
          >
          <a href="https://m2crowd.com/une/" target="_blank">UNE</a>
          <a href="https://m2crowd.com/contratos/" target="_blank">Contratos</a>
        </div>
        <div class="col-md-3 col-sm-12 footer-links-container">
          <a href="https://m2crowd.com/terminos-y-condiciones" target="_blank"
            >Términos y condiciones</a
          >
          <a href="https://m2crowd.com/aviso-de-privacidad/" target="_blank"
            >Avisos de Privacidad</a
          >
          <a href="https://m2crowd.com/quejas-y-reclamaciones/" target="_blank"
            >Consultas, aclaraciones y reclamaciones</a
          >
          <a
            href="https://m2crowd.com/consulta-los-costos-y-las-comisiones-de-nuestros-productos/"
            target="_blank"
            >Costos y comisiones</a
          >
          <a href="https://m2crowd.com/eter-izka/" target="_blank"
            >Comunidad éter izka</a
          >
          <a href="https://m2crowd.com/cargas-tributarias/" target="_blank"
            >Cargas tributarias</a
          >
          <a href="https://m2crowd.com/anexo-17/" target="_blank">Anexo 17</a>
          <a
            href="https://m2crowd.com/wp-content/uploads/2025/07/cambios-a-tu-contrato-de-adhesion.pdf"
            target="_blank"
            >Cambios a tu Contrato de Adhesión</a
          >
          <a href="https://m2crowd.com/contratos-m2crowd/" target="_blank"
            >Contratos</a
          >
        </div>
        <div class="col-md-3 col-sm-12 footer-links-container">
          <a href="https://m2crowd.com/blog/" target="_blank">Blog</a>
          <a href="https://m2crowd.com/factores-de-riesgo/" target="_blank"
            >Factores de riesgo</a
          >
          <a href="https://m2crowd.com/reportes-financieros/" target="_blank"
            >Reportes Financieros</a
          >
          <a href="https://m2crowd.com/bienestar-financiero/" target="_blank"
            >Bienestar financiero</a
          >
          <a href="https://m2crowd.com/mercado-secundario/" target="_blank"
            >Mercado secundario</a
          >
        </div>
      </div>

      <hr class="divisory-line" />
      <div class="row text-left">
        <div class="col-md-3 col-sm-12 footer-links-container">
          <a href="mailto:contacto@m2crowd.com" target="_blank"
            >contacto@m2crowd.com</a
          >
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="bold-text">
            Presa Salinillas 370, INT 502B. Col. Irrigación, Ciudad de México,
            CDMX
          </p>
        </div>
        <div class="col-md-3 col-sm-12 footer-links-container">
          <a href="tel:5541655352" target="_blank">Llámanos: (55) 4165 5352</a>
          <a href="https://wa.me/525625593117" target="_blank"
            >WhatsApp: +52 56 2559 3117</a
          >
        </div>
      </div>
      <hr class="divisory-line" />

      <div class="row text-left">
        <div class="col-md-3 col-sm-12">
          <p class="bold-text">Desarrolladores inmobiliarios</p>
        </div>
        <div class="col-md-9 col-sm-12">
          <p class="bold-text">
            Encuentra financiamiento para tus proyectos inmobiliarios en un
            <a
              class="green-link"
              href="https://fondeo.m2crowd.com/"
              target="_blank"
              >click</a
            >, ponte en contacto con uno de nuestros asesores
          </p>
        </div>
      </div>

      <div class="row text-left" style="margin-top: 30px">
        <div class="col-sm-12">
          <p class="bold-text">Ley Fintech México</p>
        </div>
        <div class="col-sm-12">
          <p class="light-text">
            M2CROWD S.A. de C.V., Institución de Financiamiento Colectivo, es un
            Institución de Tecnología Financiera que se encuentra autorizada,
            regulada y supervisada por las autoridades financieras mexicanas. Ni
            el Gobierno Federal ni las entidades de la administración pública
            paraestatal podrán responsabilizarse o garantizar los recursos de
            los clientes que sean utilizados en las operaciones que celebren con
            las M2Crowd o frente a otros, así como tampoco asumir alguna
            responsabilidad por las obligaciones contraídas por M2Crowd o por
            algún cliente frente a otro, en virtud de las operaciones que
            celebren..
          </p>
        </div>
      </div>

      <div
        class="row text-left"
        style="margin-top: 20px; justify-content: center"
      >
        <div class="col-md-2 col-sm-12">
          <p class="bold-text" style="margin-bottom: 10px">
            Somos miembros de:
          </p>
          <div>
            <a href="https://m2crowd.com/buro-de-entidades-financieras/">
              <img
                src="https://m2crowd.com/wp-content/uploads/elementor/thumbs/buro_logo-r1sq8yz9xdv89kjnxvyzlpzve23xinhbxupx6s1l2g.webp"
                title="buro_logo"
                alt="buro"
                loading="lazy"
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-7 col-sm-12"
          style="display: flex; align-items: center"
        >
          <p class="buro-text">
            El Buró de Entidades Financieras contiene información de M2CROWD,
            S.A. de C.V., Institución de Financiamiento Colectivo, sobre nuestro
            desempeño frente a los usuarios, por la prestación de productos y
            servicios. Te invitamos a consultarlo en la página
            <a
              href="https://www.buro.gob.mx"
              target="_blank"
              style="color: white"
              >https://www.buro.gob.mx</a
            >
            o en nuestra página de internet.
          </p>
          <img
            width="100"
            height="100"
            src="https://m2crowd.com/wp-content/uploads/2020/04/acreditacion-afico-1.png"
            class="attachment-large size-large wp-image-1095"
            alt=""
          />
        </div>
        <div class="col-sm-3">
          <p class="bold-text">UNE</p>
          <p class="light-text">Correo: une@m2crowd.com</p>
          <p class="light-text">Tel: (55) 4165 5352 ext. 5</p>
          <div class="footer-links-container">
            <a
              href="https://www.m2crowd.com/consulta-los-costos-y-las-comisiones-de-nuestros-productos/"
              target="_blank"
              style="font-weight: 700; font-size: 13px"
              >Consulta los costos y las comisiones de nuestros productos</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <p class="bold-text">
          © 2021 M2CROWD S.A. de C.V., Institución de Financiamiento Colectivo
        </p>
      </div>
    </div>
  </footer>
  <div style="display: none">{{ powered_by_link }}</div>

  <div style="display: none">
    {% if current_platform.show_powered_by %} {% include 'powered_by' %} {%
    endif %}
  </div>
</div>
<!-- END /partials/_footer.html -->
